<div class="container" style="margin-bottom:5%">
    <div class="row">
        <div class="col-md-12" style="color:gray;" font="Arial">
            <h1 style="font-weight: bold;">About Me</h1>
            <hr>
            <img class="facePhoto" src="/images/MR.jpg" height="250" width="200" />
                Call me <strong>"Maria".</strong> Typical name, but not a typical person.
                I am a fast-talking, fun-loving and adventure-seeking IT professional with a growing
                    passion for web design. I seek to translate my boundless energy into dynamic-yet-functional
                    contents that make browsing in websites a pleasurable experience. Just like how going to theme parks,
                    driving fast (without breaking the speed limit), partying at the beach and shopping sprees can make
                    people, especially me 😉...happy.
                    So I hope you enjoy exploring this new-born cyber crib. Feel free to drop some comments
                        or
                        suggestions. I will appreciate and use them as inspiration.

                        <h5 class="ty">Thank you!</h5>

        </div>
    </div>