<div class="container" style="margin-bottom:10%">
    <div class="row">
       <div class="col-md-12" style="color:black ;" font="Arial">
           <div id="section-about" class="section page-section nomargin clearfix" style="background: #EEE url('/images/San.png') no-repeat center center; background-size: cover; padding: 100px 0">
					<div class="container clearfix">
						<div class="row clearfix">
							<div class="col-md-5 offset-md-7 clearfix">
								<div class="heading-block">
									<h2 class="font-secondary"">About Me.</h2>
                                     <p>
									<span>I am a fast-talking, fun-loving and adventure-seeking IT professional with a growing
										passion
										for web design and development. I seek to translate my boundless energy into dynamic-yet-functional
                                        contents that
                                        make browsing in websites a pleasurable experience. Just like how going to theme parks,
                                        driving fast
                                        (without breaking the speed limit), partying at the beach and shopping sprees can make
                                        people,
                                        especially me 😉...happy.
                                        </span>
								</div>
								<table class="table">
									<tbody>
										<tr>
											<td class="notopborder"><strong>Name:</strong></td>
											<td class="notopborder">Maria Rabin</td>
										</tr>
										<tr>
											<td><strong>Email:</strong></td>
											<td>lrabin@gmail.com</td>
										</tr>
										<tr>
											<td><strong>Website:</strong></td>
											<td><a href="https://mariarabin.github.io/Bootstrap-Portfolio/" >https://mariarabin.github.io/Bootstrap-Portfolio/</a></td>
										</tr>
										<tr>
											<td><strong>Github Portfolio:</strong></td>
											<td><a href="https://github.com/mariarabin" >https://github.com/mariarabin</a></td>
										</tr>
										<tr>
											<td><strong>LinkedIn:</strong></td>
											<td><a href="https://www.linkedin.com/in/maria-rabin/" >https://www.linkedin.com/in/maria-rabin/</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

       </div>
    </div>