<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="font-weight: bold;">Portfolios</h1>
            <hr>
        </div>
    </div>
    <div class="row" style=margin:20px; style="border:1px solid pink;">
        <div class=" col-md-6">
            <ul class="list-unstyled">

                <li class="media">
                    <img src="/images/WGG.png" height="50" width="50" style="border-radius: 50%"; class="mr-3" alt="...">
                    <div class="media-body">
                        <a href="https://mariarabin.github.io/Word-Guess-Game/">Word Guess Game 🔡</a>
                    </div>
                </li><br>
                <li class="media">
                    <img src="/images/CCG.png" height="50" width="50" style="border-radius: 50%" class="mr-3" alt="...">
                    <div class="media-body">
                        <a href="https://mariarabin.github.io/unit-4-game/">Crystal Collector Game 🔶 </a>
                    </div>
               </li><br>
                <li class="media">
                    <img src="/images/TS.png" height="50" width="50" style="border-radius: 50%" class="mr-3" alt="...">
                    <div class="media-body">
                        <a href="https://mariarabin.github.io/TrainSchedule/index.html">Train Schedule 🚉</a>
                    </div>
                </li><br>
                <li class="media">
                    <img src="/images/NowYou.png" height="50" width="50" style="border-radius: 50%" class="mr-3" alt="...">
                    <div class="media-body">
                        <a href="https://ayang726.github.io/Project-1/">Now You!🎥 </a>
                    </div>
                </li><br>
                <li class="media">
                    <img src="/images/bamazon.png" height="50" width="50" style="border-radius: 50%" class="mr-3" alt="...">
                    <div class="media-body">
                        <a href="https://github.com/mariarabin/bamazon/">Bamazon 📤</a>
                    </div>
                </li><br>
                <li class="media">
                    <img src="/images/Burger.png" height="50" width="50" style="border-radius: 50%" class="mr-3" alt="...">
                    <div class="media-body">
                        <a href="https://sequelized-burger-07062019.herokuapp.com/">Sequeliezed B🍔rger</a>
                    </div>
                </li><br>
                <li class="media">
                    <img src="/images/NS.png" height="50" width="50" style="border-radius: 50%" class="mr-3" alt="...">
                    <div class="media-body">
                        <a href=<a href="https://news-scraper-18.herokuapp.com/">News Scraper📝</a>
                    </div>
                </li><br>
                <li class="media">
                    <img src="/images/ComingSoon.png" height="50" width="50" style="border-radius: 50%" class="mr-3" alt="...">
                    <div class="media-body">
                        <a href="https://mariarabin.github.io/TriviaGame/">Google Books React Search💻</a>
                    </div>
                </li><br>

                
        </div>
        <div class="col-md-6">
            <ul class="list-unstyled">

                <li class="media">
                    <img src="/images/TPG.png" height="50" width="50" style="border-radius: 50%" class="mr-3" alt="...">
                    <div class="media-body">
                        <a href="https://mariarabin.github.io/Psychic-Game/">Psychic Game 🃏</a>
                    </div>
                </li><br>
                <li class="media">
                    <img src="/images/GIF.png" height="50" width="50" style="border-radius: 50%" class="mr-3" alt="...">
                    <div class="media-body">
                        <a href="https://mariarabin.github.io/GifTastic/">GifTastic 🎡</a>
                    </div>
                </li><br>
                <li class="media">
                    <img src="/images/TG.png" height="50" width="50" style="border-radius: 50%" class="mr-3" alt="...">
                    <div class="media-body">
                        <a href="https://mariarabin.github.io/TriviaGame/">Trivia Game 🌠</a>
                    </div>
                </li><br>
                <li class="media">
                    <img src="/images/liri.png" height="50" width="50" style="border-radius: 50%" class="mr-3" alt="...">
                    <div class="media-body">
                        <a href="https://github.com/mariarabin/liri-node-app">Liri Bot 🤖</a>
                    </div>
                </li><br>
                <li class="media">
                    <img src="/images/FFinder.png" height="50" width="50" style="border-radius: 50%" class="mr-3" alt="...">
                    <div class="media-body">
                        <a href="https://friend-finder-06222019.herokuapp.com/">Friend👫Finder🔎</a>
                    </div>
                </li><br>
                <li class="media">
                    <img src="/images/Stocker.png" height="50" width="50" style="border-radius: 50%" class="mr-3" alt="...">
                    <div class="media-body">
                        <a href="https://pure-reef-59984.herokuapp.com/">Stocker💱</a>
                    </div>
               </li><br>
                <li class="media">
                    <img src="/images/NS.png" height="50" width="50" style="border-radius: 50%" class="mr-3" alt="...">
                    <div class="media-body">
                        <a href="https://news-scraper-18.herokuapp.com/">Clicky Game🀄️</a>
                    </div>
                </li><br>
                <li class="media">
                    <img src="/images/ComingSoon.png" height="50" width="50" style="border-radius: 50%" class="mr-3" alt="...">
                    <div class="media-body">
                        <a href="https://mariarabin.github.io/TriviaGame/">Project 3🥁</a>
                    </div>
                </li><br>
            
                <br>
            </ul>
        </div>
        <br><br>