html {background-color: white};


/* global styles  */
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    text-decoration: none;
    color:#000;
}
ul{
    list-style: none;
}


/* template page */

.edit-cont {
    border-width: 1px;
    border-style: solid;
    border-color:lightgrey;
    padding: 10px;
}

#viewCustomTemplate {
    margin: 10px;
    padding: 20px;
    
}

.templateTitle {
    margin: 30px;

}

#customTemplateName {
margin-bottom: 0px;
}


#nav_bar .active {
    color:            #F8F8F8;
    background-color: #4f81bd;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
}

body {background-color: bisque};

